.home_wrap {
  max-width: 600px;
  background-color: var(--card-color);
  padding: 20px;
  margin: 50px auto;
  color: var(--light-color);
  border-radius: 12px;

  .home_title {
    margin-bottom: 20px;
    h3 {
      font-size: 20px;

    }
  }

  .challenge_main_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;

    .amount_wrap {
      width: 100%;

      .amount_input_wrap {
        position: relative;

        .form-control {
          height: 50px;
          background-color: var(--secondary-color);
          padding: 10px 40px;
          border: 1px solid var(--primary-color);
          color: var(--light-color);
        }

        .amount_icon {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 20px;

          svg {
            font-size: 20px;
          }
        }
      }
    }

    .challenge_wrap {
      width: 100%;
    }

    .challenge_dropdown {
      select {
        background-color: var(--secondary-color);
        color: var(--light-color);
        width: 100%;
        height: 50px;
        border: 1px solid var(--primary-color);
        background-image: url("../../../images/down.svg");
        &:focus {
          background-color: var(--secondary-color);
          box-shadow: none;
          outline: 0px;
          border: 1px solid var(--primary-color);
        }
      }
    }
  }

  .challenge_btn_wrap {
    margin-top: 20px;

    .challenge_btn {
      background-color: var(--button-color);
      color: var(--light-color);
      text-align: center;
      display: block;
      width: 100%;
      padding: 12px 10px;
      font-weight: 600;
      border-color: var(--button-color);

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        background-color: var(--button-color);
        border-color: var(--button-color);

      }
      img{
        width: 20px;
      }
    }
  }

  .receiver_wrap {
    margin-top: 20px;

    .receiver_input_wrap {
      .form-control {
        height: 50px;
        background-color: var(--secondary-color);
        border: 1px solid var(--primary-color);
        color: var(--light-color);
      }
    }

    h5 {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  .form-control {
    &:focus {
      background-color: var(--secondary-color);
      box-shadow: none;
      outline: 0px;
      border: 1px solid var(--primary-color);
    }
  }

  .challenge_title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .amount_title {
      width: 50%;
      display: flex;
      gap: 5px;
      align-items: center;
      span{
        background-color: #074870;
        font-size: 13px;
        padding: 5px 9px;
        border-radius: 20px;
        font-weight: 600;
      }
      h5 {
        font-size: 14px;
      }
    }

    .challenge_period {
      width: 50%;
      position: relative;
      top: 10px;
      h5 {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
  }
}