.txTable_wrap {
    .txTable-title {
        border: 1px solid var(--light-color);
        padding: 10px 10px;
        border-bottom: none;

        h6 {
            font-size: 24px;
            display: inline-block;
            border-bottom: 2px solid var(--light-color);
        }
    }

    .table {
        border: 1px solid var(--light-color);
        .wallet_address{
            color: var(--light-color);
        }
        thead,
        tbody {
            tr {

                th,
                td {
                    color: var(--light-color);
                    background-color: transparent;
                }
            }
        }
    }

    .challenge_btn_wrap {
        .challenge_btn {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 2px 5px;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .checkIcn {
        svg {
            color: #17d917;
            font-weight: 600;
            font-size: 22px;
        }
    }
}